image: ruby:3.1.2

stages: 
    - build
    - test
    - deploy

before_script:
  - apt-get update -qy
  - apt-get install -y nodejs
  - gem install bundler
  - bundle install
  
  
build:
  stage: build
  script:
  - ruby -v
  - echo "Hello, $GITLAB_USER_LOGIN!"
   
test:
  stage: test 
  services:
    - postgres:16.1
  script:
    - bundle exec rspec

deploy:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production

