 <div id="header3"></div> 
  <%= render "layouts/flash"%>
  <div class= "container">
    <div style="text-align: center;"><h1 style= "font-family: sans-serif;" >Change Password</h1></div>
    <div class="block">
      <%= image_tag "bg-2.jpg" %>
    </div>
      <div class= "block-2">
          <div class= "login-container">
  
                   <%= form_tag :action => 'reset_password' do %>
                  
                     <label for="password"><h5>Enter New Password</h5></label><br>
                     <div class = "password">
                     <input class="pass-field form-control" name="password" placeholder="New Password"  type="password" id="password">
                     <input class="pass-icon" type="checkbox" onclick="myFunction()">
                     </div><br>
                             <button class="btn btn-outline-primary" >Change Password</button>
                    <% end%><br>
                        <a href="/" style="text-decoration: none; color: red;">GO BACK</a>
               </div>
            </div>
        </div> 
<script>

function myFunction() { 
 var x = document.getElementById("password"); 

   if (x.type === "password") { 
     x.type = "text"; 
   } else {
    x.type = "password";
  } 
 } 
 
 </script> 
        