<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
             background-image: url(<%= asset_path "bg-4.jpg" %>);
             background-size: cover;
             background-position: center center;
             height: 100vh;
             margin: 0;
             padding: 0;
             font-family: Arial, sans-serif;
             background-color: #f0f0f0;
        }
        .reset_password {
            width: 80%;
            max-width: 500px;
            margin: 0 auto; /* Center the container */
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 30vh; /* Adjust as needed */
        }
    </style>
</head>
 <div id="header3"></div> 
<body>
 <%= render "layouts/flash"%>

<div class="reset_password">
<h4>Generate An OTP to your Registered Email</h4>
<%= form_tag :action => 'reset' do %>
                     <label for="email">  </label><br> 
                     <input class="shortInput form-control" name="email" placeholder="Email"  type="text" ><br>
                     <button type="submit" class= "button" >Generate OTP</button>
            <% end%>
<a href = "/">back</a>
</div>

</body>
</html>
