
   <body>
      <h1>URL SHORTNER PASSWORD RESET</h1>
      
      <p>
        The password reset request has been approved  
      <br>
      </p>
      <h1>
      <p>
         The token is :<%= @token%> 
      </p>
      </h1>
      
      <p>Vist the link <%= @url%></p>
      
   </body>