    <div id="header4"></div> 
     <div class="dropdown">
        <button class="dropbtn">Reports</button>
  <div class="dropdown-content" >
  <a href="/home/view">
              <button class="btn btn-outline-primary" type="button">List Of URL's Shortened</button>
              </a>
              <a href="/user/users">
              <button class="btn btn-outline-primary" type="button">List Of Users</button>
              </a>
  </div>

</div>
 <%= render "layouts/flash" %>
    <%# <div id="count"></div> %>
    <center>
    <div class = "partition">

    </div>
      <%# <%= image_tag "bg-1.jpg"%>
     <div class = "partition">
      <div class ='p'>
        <div class ='box box-outline '>
        <p> The Number Of URL's Shortened is :<%=  $short_count %></p>
        </div>
      </div>
       </div>
           <div class = "partition">
            <div class ='p'>
<p>Create a Short Url  <a href="/home/new">
           here.
          </a>
          </div>
    </div>
       </center>
   