    <div id="content"></div> 
 <%= render "layouts/flash" %>
    <%# <div id="count"></div> %>
      <div class ='p'>
        <div class ='box box-outline '>
        <p> The Number Of URL's Shortened is :<%=  $short_count %></p>
        </div>
      </div>