<%# <center>
<div class="clearfix">
<h4>URL Shortener</h4> %>
<%# <center> %>
<%# <div id='count'></div> %>
<%# <div id='body'></div> %>

<%# <h3><p><br> Number of URL's Shortened:<%= $short_count%> 
    <div id="count"></div>
<%# <button onclick="window.location.href='/user/signup'" class="signupbtn" >Signup</button>

<button onclick="window.location.href='/user/login'" class="loginbtn" >Login</button><br>
 <br><button onclick="window.location.href='/home/view'">List Of URL's Shortened</button><br>
 </div> 
  %>


