<style>
  body {
    background-image: url(<%= asset_path "bg-4.jpg" %>);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
</style>

<div id="header1"></div>

<body>
   <%= render "layouts/flash"%>
  <center>
    <div class="partition"></div>

    <div class="partition">
      <div class='p'>
        <div class='box box-outline '>
          <p>The Number Of URL's Shortened is :<%= $short_count %></p>
        </div>
      </div>
    </div>
  </center>
<br>
       <div class='p-4'>
      <p>Create a Short Url <a href="/home/new">here.</a></p>
    </div>
    <div class='p-4'>
    <p>If you want to use upload file of URL's Click <a href="/file/upload">here.</a></p>
    </div>
  </div>
</body>
