<!DOCTYPE html>
<html>
<style>

.con {
  margin: 50px 50px;
}

.l {
  border-collapse: collapse;
  width:100%;
}

.l th{
   border: 2px solid #ddd;
  padding: 10px;
  text-align:center;
}

.l td{
  border: 2px solid #ddd;
  padding:30px;
max-width: 50px;
overflow: hidden;
}

.l tr{
  background-color: #ffffcc;
  color: black;
}
</style>
<div id="header2"></div>
<body>
        <%= link_to "Download PDF file", home_view_path(format: 'pdf') %>


      <div class="con">
<table class= "l">    
  <thead> 
  <tr>   
        <th>Original Url</th>   
        <th>Shortened Url</th>   
        <th>Created Date</th>   
          
      </tr>   
      </thead>

      <tbody> 
      <% @short_url.each do |short_url| %>   
      
          <tr>   
            <td><%= short_url.original_url %></td>   
            <td><%= short_url.shortened_url %></td>   
            <td><%= short_url.created_at%></td>                 
           </tr>   
      <% end %>   
            </tbody>

      </table>
      </div>
      </body>
</html>