 <div id="content"></div> 
  <%= render "layouts/flash"%>
   
   <div class="p-1">
 <center>
  <h1> Login  </h1>
 <%= form_tag :action => 'check_login' do %>
 
        <label for="email">  </label><br>
        <input class="shortInput" name="email" placeholder="Email"  type="text" style="width: 500px;"><br>

        <label for="password"></label><br>
        <input class="shortInput" name="password" placeholder="Password"  type="password" style="width: 500px;"><br>
        <button class="btn btn-outline-primary" >Login</button>
          <%= @error%>
          <% end%>
          <p><%= @dis%>
           </center>
          </div>
         