 <% if flash.any? %> 
 <% flash.each do |type, msg| %>
 <div class="container alert alert-info " id="flash-message">
    <%= msg%>
 </div>  
 <% end %> 
 <script type="text/javascript">

    var timeout = 2000;

    // Function to hide the flash message after a timeout
    function hideFlashMessage() {
      var flashMessage = document.getElementById('flash-message');
      if (flashMessage) {

        flashMessage.style.display = 'none';
        
      }
    }

    // Set the timeout
    setTimeout(hideFlashMessage, timeout);
  </script>
<% end %>
